// color variables
$color-main: #333;        // black
$color-light: #999;       // grey
$color-accent: #47ff3d;   // green

// font variables
$font-sans: "Helvetica Neue", Verdana, sans-serif;
$font-serif: Georgia, serif;