// color variables
$color-main: #333;          // black
$color-light: #999;         // grey
$color-accent: #fb681b;     // orange
$color-brand: #2f3e47;      //brand-blue


// font variables
$font-sans: "Effra", Verdana, Arial, sans-serif;
$font-light: "Effra Light", Verdans, Arial, sans-serif;