/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
// Base
@import "partials/_base.scss";

// Partials
@import "compass/reset";
@import "partials/_grids.scss";
@import "partials/_typography.scss";

// styling
body {
  @include container(60em);
  padding: 0.8%;
  font: {
    size: 100%;
    family: $font-sans;
  }
  color: $main-color;
  @include box-sizing(border-box);
}

// .content-wrapper {
//   @include container(90em);
// }

header[role="banner"] {
  
  h1 {
    padding: 15px 0 18px 0;
    margin: 0 auto;
    color: $light-color;
    font: {
      size: 2.5em;
      family: $font-light;
    }

    line-height: 1;
    text: {
      align: center;
    }
  }

  background: {
    color: $brand-color;
  }
}

section .main {
  float: left;
  // width: span(1);
}

section .second {
  float: left;
  // width: span(4);
}

section h2 {
  @include title-style($main-color, #fff);
  font-size: 1.5em;
}

section h3 {
  @include title-style($medium-color, #fff);
}

section p {
  margin: 0 0 20px 0;
  line-height: 1.4;
}

// link style
a {
  text-decoration: none;
  border-bottom: 1px solid $light-color;
  color: $accent-color;
  &:hover {
    color: $accent-80-color;
    }
  &:active {
    color: $brand-80-color;
  }
  &.alert {
    color: red;
  }
  &.success {
    color: green;
  }
}
