/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//import
@import "compass/reset";
@import "_mixin_prefixes.scss";
@import "_mixin.scss";
@import "_variables.scss";
@import "_font.scss";

//Styling

body {
  padding: 0.8%;
  font: {
    size: 100%;
    family: $font-sans;
  }
  color: $color-main;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

header[role="banner"] {
  
  // #logo {
  //   float: left;
  //   margin: 0 20px 0 0;
  //   img {
  //     display: block;
  //     opacity: .95;
  //   }
  // }
  
  h1 {
    padding: 15px 0 18px 0;
    margin: 0 auto;
    color: $color-light;
    font: {
      size: 2.5em;
      family: $font-light;
    }

    line-height: 1;
    text: {
      align: center;
    }
  }

  background: {
    color: $color-brand;
  }
}

section {
  margin-top: 20px;
}

section.main h2 {
  @include title-style($color-main, #fff);
  font-size: 1.4em;
}

section.main h3 {
  @include title-style($color-light, #fff);
  font-size: 1.2em;
}

section.main p {
  margin: 0 0 20px 0;
  line-height: 1.4;
}


a {
  text-decoration: none;
  color: $color-accent;
  &:hover {
    color: $color-brand;
    }
  &:active {
    color: $color-accent;
  }
  &.alert {
    color: red;
  }
  &.success {
    color: green;
  }
}
