/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//import other files
@import"compass/reset";
@import "_mixin.scss";
@import "_variables.scss";

//mixins
@mixin title-style($color, $background: #eee) {
  margin: 0 0 20px 0;
  font-family: $font-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color;
  background: $background;
}

@mixin color-bar {
  width: 100%;
  height: 80px;
  clear: both;
}

//main content
header[role="banner"] {
  margin: 20px 0 30px 0;
  @include rounded(10px);
  
  #logo {
    float: left;
    margin: 0 20px 0 0;
    img {
      display: block;
      opacity: .95;
    }
  }
  
  h1 {
    padding: 15px 0;
    color: $color-light;
    font: {
      size: 54px;
      family: $font-serif;
      weight: bold;
    }

    line-height: 1;
    text: {
      transform: uppercase;
      align: center;
    }
  }

  background: {
    color: $color-main;
  }
}


a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: $color-accent;
    }
  &:active {
    color: #fff;
    @include rounded(4px);
    @include linear-gradient(#ff70b1, #d42a78)   
  }
  &.alert {
    color: red;
  }
  &.success {
    color: green;
  }
}


body {
  padding: 0.8%;
  font: {
    size: 100%;
    family: $font-sans;
  }
  color: $color-main;
}

section.main h2 {
  @include title-style($color-main);
}

section.main h3 {
  @include title-style($color-accent, #color-light);
  color: #999;
}

section.main p {
  margin: 0 0 20px 0;
  line-height: 1.4;
}


section.color {
  .primary {
    @include color-bar;
    background: darken($color-accent, 10%);
  }
  .secondary {
    @include color-bar;
    background: darken($color-accent, 30%)
  }
  .tertiary {
    @include color-bar;
    background: darken($color-accent, 50%)
  }
}
