/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Base */
/* line 5, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Mixin */
/* Partials */
/* Changing Susy default global settings */
/* Makes border-box properties */
/* line 21, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/susy-2.2.1/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* basic grid */
/* line 21, ../sass/partials/_grids.scss */
.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 6.32911%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 12, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 25, ../sass/partials/_grids.scss */
.content {
  width: 74.68354%;
  float: left;
  margin-right: 1.26582%;
}
/* line 5, ../sass/modules/_mixin.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 30, ../sass/partials/_grids.scss */
.sidebar {
  width: 24.05063%;
  float: right;
  margin-right: 0;
}
/* line 5, ../sass/modules/_mixin.scss */
.sidebar:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 35, ../sass/partials/_grids.scss */
.gallery__item {
  list-style: none;
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
}
/* line 38, ../sass/partials/_grids.scss */
.gallery__item:nth-child(5n) {
  float: right;
  margin-right: 0;
}

/* line 49, ../sass/partials/_grids.scss */
.gallery {
  padding-left: 8.47458%;
  padding-right: 8.47458%;
}

/* line 5, ../sass/modules/_mixin.scss */
.site-footer:after {
  content: " ";
  display: block;
  clear: both;
}

/* Styling */
/* line 20, ../sass/screen.scss */
h2 {
  padding: 1rem 0;
  text-align: center;
  color: #555;
}

/* line 26, ../sass/screen.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 36, ../sass/screen.scss */
.site-header, .site-footer {
  background: rgba(234, 159, 195, 0.8);
}

/* line 41, ../sass/screen.scss */
.site-header a {
  color: #555;
  text-decoration: none;
}

/* line 47, ../sass/screen.scss */
.logo {
  float: left;
  line-height: 2rem;
  font-size: 1.5rem;
}

/* line 53, ../sass/screen.scss */
nav {
  float: right;
}
/* line 56, ../sass/screen.scss */
nav li {
  list-style: none;
  float: left;
  margin-left: 1em;
  line-height: 2rem;
}

/* line 64, ../sass/screen.scss */
.content {
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: rgba(113, 218, 218, 0.8);
}

/* line 70, ../sass/screen.scss */
.sidebar {
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: rgba(250, 231, 179, 0.8);
}
/* line 75, ../sass/screen.scss */
.sidebar li {
  list-style: none;
}
/* line 78, ../sass/screen.scss */
.sidebar li a {
  color: #666;
  padding-left: 1rem;
  line-height: 2;
  text-decoration: none;
}

/* line 87, ../sass/screen.scss */
.widget {
  background: rgba(240, 150, 113, 0.8);
}

/* line 91, ../sass/screen.scss */
.site-footer {
  margin-top: 5vh;
}
