/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*-------@font-face-------*/
@font-face {
  font-family: 'Effra';
  src: url("Effra-Regular.eot");
  /* IE9 Compat Modes */
  src: url("Effra-Regular.eot?#iefix") format("embedded-opentype"), url("Effra-Regular.woff") format("woff"), url("Effra-Regular.ttf") format("truetype"), url("Effra-Regular.svg#9415985da0ffc35466232532a260e2fc") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Effra';
  src: url("Effra-Bold.eot");
  /* IE9 Compat Modes */
  src: url("Effra-Bold.eot?#iefix") format("embedded-opentype"), url("Effra-Bold.woff") format("woff"), url("Effra-Bold.ttf") format("truetype"), url("Effra-Bold.svg#4d3c8ad532dc39620c1a7258388fab6d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Effra Light';
  src: url("EffraLight-Regular.eot");
  /* IE9 Compat Modes */
  src: url("EffraLight-Regular.eot?#iefix") format("embedded-opentype"), url("EffraLight-Regular.woff") format("woff"), url("EffraLight-Regular.ttf") format("truetype"), url("EffraLight-Regular.svg#5270f3221f518df120c54f775e32e7c4") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
/*-------@font-face ends-------*/
/* line 5, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.0-dev/lib/ruby/gems/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body {
  padding: 0.8%;
  font-size: 100%;
  font-family: "Effra", Verdana, Arial, sans-serif;
  color: #111;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/screen.scss */
.content-wrapper {
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

/* line 30, ../sass/screen.scss */
header[role="banner"] {
  background-color: #2f3e47;
}
/* line 32, ../sass/screen.scss */
header[role="banner"] h1 {
  padding: 15px 0 18px 0;
  margin: 0 auto;
  color: #ccc;
  font-size: 2.5em;
  font-family: "Effra Light", Verdans, Arial, sans-serif;
  line-height: 1;
  text-align: center;
}

/* line 52, ../sass/screen.scss */
section {
  margin-top: 20px;
}

/* line 56, ../sass/screen.scss */
section.main h2 {
  font-family: "Effra Light", Verdans, Arial, sans-serif;
  font-size: 1.25em;
  color: #111;
  background: #fff;
  font-size: 1.5em;
}

/* line 61, ../sass/screen.scss */
section.main h3 {
  font-family: "Effra Light", Verdans, Arial, sans-serif;
  font-size: 1.25em;
  color: #777;
  background: #fff;
}

/* line 65, ../sass/screen.scss */
section.main p {
  margin: 0 0 20px 0;
  line-height: 1.4;
}

/* line 71, ../sass/screen.scss */
a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: #fb681b;
}
/* line 75, ../sass/screen.scss */
a:hover {
  color: rgba(251, 104, 27, 0.8);
}
/* line 78, ../sass/screen.scss */
a:active {
  color: rgba(47, 62, 71, 0.8);
}
/* line 81, ../sass/screen.scss */
a.alert {
  color: red;
}
/* line 84, ../sass/screen.scss */
a.success {
  color: green;
}
