// Text colors
$main-color: #111;                              // black
$medium-color: #777;                            // grey
$light-color: #ccc;                             // light-grey

// Brand colors
$brand-color: #2f3e47;                          // brand-blue
$brand-80-color: rgba($brand-color, 0.8);       // 80% brand-color
$accent-color: #fb681b;                         // orange
$accent-80-color: rgba($accent-color, 0.8);     // 80% accent-color
